@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <p><h1 class="fw-bolder">Restaurante las Delicias</h1></p>
 <body class="bg-success text-white"></body>

 <img src="/img/Restaurante Las Delicias.png" height="500" width="500"/>

</div>




